<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Gilroy', sans-serif;
        }
        html,
        body {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to right, #3D2B70, #160621); /* Set your desired background color */
        }
        .container {
            text-align: center;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            max-width: 400px;
            width: 100%;
        }
        label {
            color: #9C62E5;
            margin-bottom: 10px;
            display: block;
        }
        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #9C62E5;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }
        .password-container {
            position: relative;
        }
        #password {
            padding-right: 40px; 
        }
        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        button {
            padding: 10px 20px;
            background-color: #9C62E5;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        button:hover {
            background-color: #6A3988;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h2>Signup</h2>
            <form method="POST" action="/user">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="John Doe" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="john@example.com" required>

                <label for="password" class="password-container">
                    Password
                    <input type="password" id="password" name="password" placeholder="********" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        &#128065;
                    </span>
                </label>

                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
    <script>
            function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var icon = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.innerHTML = '&#128064;'; 
            } else {
                passwordInput.type = 'password';
                icon.innerHTML = '&#128065;'; 
            }
        }
    </script>
</body>
</html>